
#testing {
    height: 1000px;
}

/*FONTS*/

@font-face {
    font-family: Bariol;
    font-weight: 300;
    src: url(../fonts/bariol_light-webfont.woff2) format('woff');
}

@font-face {
  font-family: Bariol;
  font-weight: 400;
  src: url(../fonts/bariol_regular-webfont.woff2);
}

@font-face {
  font-family: Bariol;
  font-weight: 600;
  src: url(../fonts/bariol_bold-webfont.woff2);
}

/*GENERAL*/

body {
    font-family: 'Bariol';
}

.container {
    margin: 0 auto;
    max-width: 1140px;
    padding: 10px 20px 0px 20px;
}

.clearfix {
    overflow: auto;
}

/*HEADER STYLES*/

header {
    background: #380089;
    color: white;
    width: 100%;
    position: fixed;
    z-index: 1;
    padding: 10px 0;
}

header img {
    float: left;
    width: 34px;
}

header h1 {
    font-size: 28px;
    font-weight: 600;
    float: left;
    line-height: 34px;
    margin: 0 0 0 5px;
}

/*NAV BAR STYLES*/

header nav {
    float: right;
}

header nav ul {
    margin: 0;
}

header nav li {
    display: none;
    list-style: none;
}


header nav a {
    text-decoration: none;
    color: white;
}

header nav #signin {
    font-weight: bold;
    font-size: 18.5px;
    line-height: 34px;
    margin: 0;
    display: inline;
}

header nav #signin a:hover {
    color: #380089;
    -webkit-transition: .5s;
}


/*Navbar Scroll Classes*/

.navbar-scroll {
    background: white;
    color: #380089;
    padding-top: 0;
}

.navbar-scroll-links {
    color: #380089;
    opacity: 1;
}

/*BANNER STYLES*/

#banner {
    background: #380089;
    width: 100%;
    color: white;
}

.banner-content {
    margin-top: 65px;
    margin-bottom: 0;
    overflow: hidden;
}

#banner h2 {
    font-size: 42px;
    font-weight: 100;
    line-height: 46px;
    margin: 15px 0 30px 0;
    max-width: 700px;
}

#slack-button a {
    margin-top: 0;
}

#add-to-slack-button {
    width: 215px;
}

#banner figure {
    margin: 45px 0px -2px -20px;
}

#banner figure img {
    width: 105%;
    max-width: 466px;
}


/*Desktop Styles*/

@media screen and (min-width: 880px) {

    /*HEADER*/

    header {
        margin-top: 20px;

    }

    header img {
        width: 55px;
    }

    header h1 {
        font-size: 42px;
        line-height: 55px;
    }

    /*HEADER NAV*/

    header nav ul {
        margin-top: 10px;
    }

    header nav li {
        font-weight: 400;
        display: inline;
        font-size: 14px;
        opacity: .8;
        margin: 0 7.5px;
        letter-spacing: .5px;
    }

    header nav #signin {
        opacity: 1;
        font-size: 14px;
        padding: 10px 20px 11px 20px;
        background: rgba(255, 255, 255, .15);
        border-radius: 5px;
        margin-left: 9px;
        letter-spacing: 0;
    }

    header nav #signin:hover {
        background: rgba(255, 255, 255, .25);
    }

    header nav #signin a:hover {
        color: white;
        -webkit-transition: 0;
    }

    /*Navbar Scroll Classes*/

    .navbar-scroll {
        margin-top: 0;
    }

    .signin-scroll {

    }



    /*BANNER*/

    #banner {
        height: 775px;
        position: relative;
    }

    .banner-content {
        margin-top: 93px;
    }

    #banner h2 {
        font-size: 80px;
        line-height: 88px;
        margin: 65px 0 31px 0;
        max-width: 600px;
    }

    #hero-image {
        position: absolute;
        bottom: 0;
        left: 50%;
    }

}